.conteneur_a_propos {
    margin-bottom: 2vh;
    
    align-items: center;
justify-content: center;
height: auto;

}




.flex_a_propos {
    margin-top: 2em;
    display: flex;
align-items: center;
justify-content: center;
height: auto;

}

.image_a_propos {
    display: flex;
    width: 55%;
    align-items: center;
    justify-content: center;
    place-self: center;
    gap: 1em;
    padding: 3px;
    
}

.image_1{
    width: 90vw;
    margin-bottom: 2rem;
    
    
}

.image_2{
    width: 90vw;
    
    
}

.phrase{
    width: 40%;
    width: 90%;
    place-self: center;
    padding: 12px;
    
}


.devise_2 {
    display: flex;
    align-items: center;
    
}

.devise_2 P{
    color: #890c25;
    font-size: 1rem;
    
}

.propos p {
   height: auto;
   
   font-size: 1rem;
}

.propos h1{
    font-family: Cormorant Garamond;
    font-size: 2rem;
}

.button_2 {
    display: flex;
    padding: 12px 18px;
    align-items: center;
    color: white;
    background-color: #890c25;
    border: none;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 2em;

}

@media (max-width: 1200px){
    .flex_a_propos {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:0.7rem;
    } 

    .image_a_propos {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        gap: 1em;
        
    }

    .phrase{
        width: 90%;
        align-items: center;
        
        justify-content: center;
       
        
    }

    .image_1{
        width: 90vw;
        
        
        
    }
    
    .image_2{
        width: 90vw;
        
        
    }
.propos p{
    font-size: 1.5rem;
}
    .devise_2 p{
        font-size: 1.2rem;
    }

    .propos h1{
        font-size: 2.5rem;
    }
}

@media (max-width: 1024px){
    .flex_a_propos {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:0.7rem;
    } 

    .image_a_propos {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        gap: 1em;
        
    }

    .phrase{
        width: 90%;
        align-items: center;
        
        justify-content: center;
       
        
    }

    .image_1{
        width: 90vw;
        
    
        
    }
    
    .image_2{
        width: 90vw;
        
        
    }

    
}

@media (max-width: 990px){
    .flex_a_propos {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    
    } 

    .image_a_propos {
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
        
        height: auto;
        place-self: center;
        
    }

    .phrase{
        width: 90%;
        align-items: center;
        margin-bottom: 1em;
        justify-content: center;
        
        font-size: 1.2rem;
    }

    .image_1{
        width: 90vw;
        
        
    }
    
    .image_2{
        width: 90vw;
        
        
    }
    .propos p{
        font-size: 1.2rem;
    }
}

@media (max-width: 768px){
    .flex_a_propos {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    
    } 

    .image_a_propos {
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
        
        height: auto;
        place-self: center;
        
    }

    .phrase{
        width: 90%;
        align-items: center;
        
        justify-content: center;
        
        font-size: 1.2rem;
    }

    .image_1{
        width: 90vw;
        
        
    }
    
    .image_2{
        width: 90vw;
        
        
    }

    .propos p{
        font-size: 1.1rem;
    }
    .devise_2 p{
        font-size: 1rem;
    }
    .propos h2{
        font-size: 2rem;
    }
}




@media (max-width: 481px){
    .flex_a_propos {
        
        display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    
    } 

    .image_a_propos {
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        
        
    }

    .phrase{
        width: 90%;
        align-items: center;
        
        justify-content: center;
    }

    .devise_2 {
        font-size: 0.8em;
    }
.devise_2 p{
    font-size: 0.8rem;
}

    .devise_2 img{
        width: 15%;
    }
    .image_1{
        width: 90vw;
        
        
    }
    
    .image_2{
        width: 90vw;
        
        
    }
    .propos p{
        font-size: 1.1rem;
    }
    .propos h1{
        font-size: 2rem;
    }
}


@media (max-width: 481px){
    .devise_2 p{
        font-size: 0.7em;
    }
}