.conteneur_galerie {
    display: flex;
    width: 90%;
    justify-content: center;
    place-self: center;
    background-color: #fbebbd91;
    height: auto;
    border-radius: 10px;
    margin-top: 100px;
    flex-direction: column;
    padding: 12px;
}

.conteneur_galerie h1 {
    margin-left: 120px;
    margin-top: 30px;
}

.conteneur_galerie h3 {
    margin-left: 120px;
    margin-top: 30px;
    color: #333;
}

.conteneur_image {
    display: flex;
    width: 300px;
    height: 300px;
    
    margin-top: 30px;
    border-radius: 1%;
    background-color: white;
    
}

.conteneur_image img {
    height: 100%;
    width: 100%;
    border-radius: 1%;
    object-fit: cover;
}


.conteneur_image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(211, 47, 47, 0.3); /* Ombre rouge au survol */
}

.galerie-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 80%;
    place-self: center;
    

}

@media (min-width: 1600px) {
    
    .conteneur_image {
        display: flex;
        width: 300px;
        height: 300px;
        
        margin-top: 30px;
        border-radius: 1%;
        background-color: white;
        
    }
    

    

    .galerie-images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        width: 80%;
        place-self: center;
        gap: 10px;
    
    }
}




@media (max-width: 1600px) {
    
    .conteneur_image {
        display: flex;
        width: 300px;
        height: 300px;
        
        margin-top: 30px;
        border-radius: 1%;
        background-color: white;
        
    }
    

    

    .galerie-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        width: 80%;
        place-self: center;
        gap: 10px;
    
    }
}



@media (max-width: 1200px) {
    
    .conteneur_image {
        display: flex;
        width: 300px;
        height: 300px;
        
        margin-top: 30px;
        border-radius: 1%;
        background-color: white;
        
    }
    

    

    .galerie-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        width: 90%;
        place-self: center;
        
    
    }
}


/* Écrans inférieurs à 1024px */
@media (max-width: 1024px) {
    

    

    

    .galerie-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 60%;
        place-self: center;
        
    
    }
}

/* Écrans inférieurs à 990px */
@media (max-width: 990px) {
    

    .galerie-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 80%;
        place-self: center;
        
    
    }

    
}

/* Écrans inférieurs à 890px */
@media (max-width: 890px) {
    .galerie-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 90%;
        place-self: center;
        
    
    }
}

/* Écrans inférieurs à 798px */
@media (max-width: 798px) {
    .galerie-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 80%;
        place-self: center;
        align-items: center;
        
    
    }
    .conteneur_image {
        display: flex;
        width: 300px;
        height: 300px;
        place-self: center;
        margin-top: 30px;
        border-radius: 1%;
        background-color: white;
        
    }
}

/* Écrans inférieurs à 590px */
@media (max-width: 590px) {
    .conteneur_galerie h1 {
        font-size: 1.5em;
        
    }

    .galerie-images {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 80%;
        place-self: center;
        
    
    }
}