

.stats{
    margin-top: 2rem;
    overflow: hidden;
    
    display: flex;
flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    
}

.div_1 {
    height: 30vh;
    width: 25vw;
    background-color:#890c25 ;
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_2 {
    width: 0.1vw;
    background-color: white;
    height: 25vh;
}




@media (max-width: 1024px){

    
    .stats{
        display: flex;
        
        justify-content: center;
        align-items: center;
    
        
    }

    .div_1 {
        height: 20vh;
        width: 25vw;
        background-color:#890c25 ;
        
        color: white;
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
    
    .div_2 {
        width: 0.1vw;
        background-color: white;
        height: 25vh;
    }

}

@media (max-width: 990px){

    
    .stats{
        display: flex;
        
        justify-content: center;
        align-items: center;
        place-self: center;
    
        
    }

    .div_1 {
        height: 35vh;
        width: 25vw;
        background-color:#890c25 ;
        
        color: white;
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
    
    .div_2 {
        width: 0.1vw;
        background-color: white;
        height: 25vh;
    }

}


@media (max-width: 891px){

    
    .stats{
        display: flex;
        
        justify-content: center;
        align-items: center;
    
        
    }

    .div_1 {
        height: 32vh;
        width: 25vw;
        background-color:#890c25 ;
        
        color: white;
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
    
    .div_2 {
        width: 0.1vw;
        background-color: white;
        height: 25vh;
    }

}


@media (max-width: 769px){

    
    .stats{
        display: flex;
        
        justify-content: center;
        align-items: center;
    
        
    }
    .div_1 {
        height: 35vh;
        width: 25vw;
        background-color:#890c25 ;
        
        color: white;
        display: flex;
        
        align-items: center;
        justify-content: center;
    }
    
    .div_2 {
        width: 0.3vw;
        background-color: white;
        height: 25vh;
    }

    

}

@media (max-width: 590px){

    
    .stats{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        
    }

    .div_1 {
        height: 30vh;
        width: 60vw;
        background-color:#890c25 ;
        
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .div_2 {
        width: 60vw;
        background-color: white;
        height: 0.5vh;
    }

}


@media (max-width: 480px){

    
    .stats{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        
    }

    .div_1 {
        height: 25vh;
        width: 60vw;
        background-color:#890c25 ;
        
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .div_2 {
        width: 60vw;
        background-color: white;
        height: 0.5vh;
    }

}

